body {
    max-width: 100vw;
    height: auto;
    background-color: #fffaea;
}

.main-content {
    text-align: center;
    align-content: center;
    padding-top: 5vh;
}

.poiret-one-main-title {
  font-family: "Poiret One", sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #948476;
  font-size: 75px;
  margin: 0;
}

.poiret-one-name {
    font-family: "Poiret One", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #fffaea;
}

.under-title {
    padding: 0;
    margin: 0;
    font-size: 17px;
    color: #948476;
}

.title-name {
    font-size: 17px;
    padding-top: 0;
    color: #fffaea;
}

.center-bar {
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #88431b;
}

.contact-text {
    font-size: 17px;
    margin-bottom: 15px;
    color: #948476;
}

hr {
    border: none;
    margin-top: 0px;
    margin-bottom: 10px;
    height: 3px;
    max-width: 45vw;
    background-color: #ac746c;
}

img {
    max-width: 100vw;
}

button {
    background-color: #d59133;
    color: #fffaea;
    font-size: 17px;
    border: 0;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 15px;
    height: 30px;
}

a {
    color: #948476;
}